.searchBox input {
  max-width: 300px;
  min-width: 250px;

  margin: 20px;
  padding: 10px;

  font-size: 18px;
  font-weight: 400;
  color: #4067d4;

  border: none;
  border-radius: 5px;

  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.searchBox input:focus {
  background-color: white;
  outline: none;
}

.searchBox input:focus::placeholder {
  color: transparent;
}
