.cardList {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  justify-content: center;
}
